ul, p, .content, table, .box {
	margin: 7px 0;
}
ul {
	list-style: none;
	padding-left: 14px;
}
a {
	color: #036;
	margin: 0 1px;
	text-decoration: none;
}
h1, h2 {
	text-shadow: 1px 1px 2px #AAA;
}
h1 {
	color: #777;
	font-size: 16px;
}
h2 {
	font-size: 20px;
}
textarea {
	width: 80%;
}
.img {
	max-width: 320px;
	max-height: 320px;
	border: 0;
	margin: 10px;
}
#footer ul {
	padding: 0;
}
#footer ul li, #jump ul li {
	padding: 2px 4px;
	margin: 4px;
	display: inline-block;
	border-radius: 4px;
}
#jump ul li {
	background-color: #FFEFC6;
}
.th {
	background-color: #F0D5B7;
	text-align: center;
}
.user {
	font-weight: bold;
}
.quote {
	color: #789922;
}
td{
	border: 1px solid #CCC;
	padding: 4px 14px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
:target {
	background-color: #FFD;
}
.w1 {
	width: 15%
}
.w2 {
	width: 20%;
}
