html {
	border-top: 16px solid #FC3;
	font-family: sans-serif;
	font-size: 14px;
	color: #555;
}
ul, p {
	margin: 7px 0;
}
ul {
	list-style: none;
	padding-left: 14px;
}
a {
	color: #036;
	margin: 0 1px;
	text-decoration: none;
}
h1, h2 {
	text-shadow: 1px 1px 2px #AAA;
}
h1 {
	color: #777;
	font-size: 16px;
}
h2 {
	font-size: 20px;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #CCC;
	color: #555;
	border-radius: 4px;
}
textarea {
	width: 100%;
}
input[type="text"] {
	width: 50%;
}
img {
	max-width: 320px;
	max-height: 320px;
	border: 0;
}
.block {
	display: block;
	padding: 5px 10px;
	margin: 5px;
	color: #777;
	border: 1px dashed #777;
	background-color: #EEE;
	font-family: monospace;
	font-size: 10px;
	white-space: pre-wrap;
}
#menu {
	border-bottom: 1px dotted #777;
	text-align: right;
}
#container {
	width: 900px;
	margin: auto;
}
#footer ul {
	padding: 0;
}
.button, .msg, #menu ul li, #footer ul li, #page ul li, #jump ul li {
	padding: 2px 4px;
	margin: 4px;
	display: inline-block;
	border-radius: 4px;
}
#menu ul li {
	background-color: #777;
}
.msg, #menu ul li a {
	color: #FFF;
}
.button, #page ul li {
	background-color: #E0EAF1;
}
#jump ul li {
	background-color: #FFEFC6;
}
.msg {
	background-color: #9A4444;
}
.th {
	background-color: #F0D5B7;
	text-align: center;
}
.user {
	font-weight: bold;
}
.quote {
	color: #789922;
}
td{
	border: 1px solid #CCC;
	padding: 4px 14px;
	vertical-align: top;
}
table {
	width: 100%;
	margin: 7px 0;
	border-collapse: collapse;
}
tr:target {
	background-color: #FFD;
}
.box {
	padding: 7px;
	border: 1px solid #CCC;
}
.w1 {
	width: 15%;
}
.w2 {
	width: 20%;
}
.pinned, .locked {
	padding: 1px 2px;
	font-size: 10px;
	font-weight: bold;
	margin-right: 4px;
	border-radius: 4px;
}
.pinned {
	background-color: #DAEDE2;
	color: #528F6C;
}
.locked {
	background-color: #EAD7D7;
	color: #8E5252;
}
#page {
	text-align: center;
}
