.content {
	margin: 14px 0;
}
.thumbnail {
	max-width: 320px;
}
.label {
	margin: 4px 4px 4px 0;
}
textarea {
	width: 100%;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
#footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}
#footer span {
	margin-right: 20px;
}
:target {
	background-color: #FFD;
}
/* sp */
th {
	background-color: #F0D5B7;
}
.user {
	font-weight: bold;
	margin: 14px 0;
}
.topic, .reply {
	border: 1px solid #CCC;
	margin: 14px 0;
	padding: 7px;
}
.topic:after, .reply:after {
	clear: both;
	display: table;
	content: "";
}
