* {
	letter-spacing: 1px;
	font-size: 14px;
}
html {
	border-top: 16px solid #FC3;
}
ul {
	list-style: none;
}
a {
	color: #036;
	margin: 0 1px;
}
h1 {
	color: #666;
	font-size: 16px;
}
h2 {
	font-size: 20px;
}
textarea {
	width: 100%;
}
input[type="text"], input[type="password"] {
	width: 50%;
}
img {
	max-width: 100%;
}
#menu {
	border-bottom: 1px dotted #666;
	text-align: right;
}
#container {
	width: 800px;
	margin: auto;
}
#footer ul {
	padding: 0;
}
.important, #menu ul li, #footer ul li, #page ul li, #user ul li, #jump ul li {
	padding: 2px 4px;
	margin: 0 4px;
}
.important, #menu ul li a, #page ul li a, #user ul li a, #jump ul li a {
	text-decoration: none;
}
#menu ul li, #footer ul li, #page ul li, #user ul li, #jump ul li {
	display: inline;
}
#menu ul li {
	background-color: #666;
}
.important, #menu ul li a, #user ul li a {
	color: #FFF;
}
#page ul li {
	background-color: #E0EAF1;
}
#user ul li {
	background-color: #75845C;
}
#jump ul li {
	background-color: #FFEFC6;
}
.important {
	background-color: #9A4444;
}
.entryHeader {
	text-align: center;
	background-color: #EEE;
}
.entryFooter {
	color: #666;
	text-align: right;
}
td{
	border: 1px dotted #666;
	padding: 2px 14px;
	vertical-align: top;
}
table {
	width: 100%;
	margin: 14px 0;
}
.w1 {
	width: 15%;
}
.w2 {
	width: 20%;
}
